### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

NEXT_PUBLIC_SUBSCRIBER_ID=
NEXT_PUBLIC_KNOCK_PUBLIC_API_KEY=
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID=
NEXT_PUBLIC_KNOCK_SECRET_API_KEY=
